
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'century gothic';
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  display: flex;
  flex-direction: column;
}
nav a{
  border: 1px solid #194546;
    border-radius: 10%;
    background-color: #194546;
    display: block;
    color: white;
    margin: 10px;
    height: auto;
    width: 100px;
    padding: 10px;
}
a:hover{
  background-color: #c4d8e7;
  color: black;
  border: #194546;
  transition: 0.2s;
  transform: scale(1.1);
  box-shadow: 2px 2px 4px #194546;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #194546;
    display: inline-block;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    font-family: 'century gothic';
}
li{
    float: right;
}
li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    transition: all 0.5s;
  }
a{
  text-decoration: none;
  color: black;
  
}
  
li a:hover {
    background-color: #c4d8e7;
    color: black;
    transform: scale(1.1);
  }
img{
    width: 130px;
    height:auto;
    margin: 10px;
    transition: all 0.5s;
    border-radius: 4px;
}
img:hover{
  transform: scale(1.1);
  box-shadow: 5px 4px 4px #a0a4a7;
}
h1{
  font-size: 3em;
  text-align: center;
  color: #194546;
  text-shadow: 4px 4px 4px #a0a4a7;
  animation: animate 2s 1s forwards;
  opacity: 0;
}
@keyframes animate {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#vogue{
  margin-top: 50px;
  margin: 5px;
 
}
#flowers{
  margin: 10px;
}
#vintage{
  margin: 10px;
}
#box{
  display: flex;
  flex-wrap: wrap;
}
#contactme{
  display: flex;
  flex-wrap: wrap;
}
.container{ 
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
span{
  font-size: 1.5em;
  color: #516779;
}

.btn{
  background-color: #679267;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border-color: #679267;
}
.btn:hover{
  background-color: #73a1c7;
  color: black;
  border: #73a1c7;
  transition: 0.2s;
  transform: scale(1.1);
}
footer{
  position:relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #194546;
  display: flex;
  flex-wrap: wrap;
}
.form-control {
  box-shadow: 2px 2px 4px grey;
  border: none;
  color: #d1d2d2;
  padding: 20px;
  transition: all 0.5s;
}

textarea[type=text], select {
  width: 100%;
  padding: 8px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: gainsboro;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 8px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: gainsboro;
  border-radius: 2px;
  box-sizing: border-box;
}

label{
  color: white;
}
.form-group{
  width: 300px;
  margin: 20px;
  position: absolute;
}
::placeholder{
  font-family: 'century gothic';
}





