
.btn {
    background-color: #4c588d;
    padding: 8px;
    width: 100px;
    border: 1px solid #4c588d;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #9cc0c2;
}
a{
    text-decoration: none;
    color: white;
}

.back {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
textarea {
    width: 250px;
    height: 100px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    background-color: rgb(238, 230, 230);
    border-radius: 5px;
    box-sizing: border-box;

}
